<form *ngIf="myForm" [formGroup]="myForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="name"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <div *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">error</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="email"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <div *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">required</div>
      <div *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched">invalid email</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="age"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <div *ngIf="myForm.controls['age'].hasError('required') && myForm.controls['age'].touched">required</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <!--<mat-form-field>-->
        <mat-checkbox formControlName="confirm"></mat-checkbox>
      <!--</mat-form-field>-->
    </div>
    <div class="col-6">
      <div *ngIf="myForm.controls['confirm'].hasError('required') && myForm.controls['confirm'].touched">required confirm</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <input matInput formControlName="age"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <div *ngIf="myForm.controls['age'].hasError('required') && myForm.controls['age'].touched">required</div>
    </div>
  </div>
</form>
